spring:
  datasource:
    url: jdbc:h2:mem:webshop;MODE=PostgreSQL;DB_CLOSE_DELAY=-1
    driverClassName: org.h2.Driver
    username: sa
    password: password
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
  h2:
    console:
      enabled: true
  sql:
    init:
      mode: never
logging:
  level:
    org.springframework.security: INFO
passkeys:
  rp-id: localhost
  rp-name: Nerdshirts Passkeys
  origins:
    - http://localhost:8080
---
spring:
  config:
    activate:
      on-profile: docker
  datasource:
    url: jdbc:postgresql://db:5432/webshop
    driverClassName: org.postgresql.Driver
    username: webshop
    password: webshop
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
  sql:
    init:
      mode: never
passkeys:
  rp-id: demo-webshop
  rp-name: Nerdshirts Passkeys
  origins:
    - https://demo-webshop.local
